<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h1> Главная страница </h1>
    <ul>
        <li>
            <a href="/"> главная страница</a>
        </li>
         <li>
             <a href="catalog/">каталог</a>
        </li>
         <li>
            <a href="{% url 'news' %}">новости</a>
        </li>
    </ul>

   {% block main_content %}
    {% endblock main_content %}





    <h2>После блока main_content </h2>
</body>
</html>